{%extends 'dash.html'%}

{%block page_title%}
<div class="row g-2 align-items-center">
    <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
            Навигация
        </div>
        <h2 class="page-title">
            Add object
            <a href="{%url 'objects'%}" class="btn btn-success w-20">
                Back
            </a>
        </h2>
    </div>
</div>

{%endblock%}

{%block content%}

<div class="add_objects_page">
    <h1>Create new task</h1>
    <form id="object-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <style>
            #id_date_start{max-width:200px;}#id_date_finish{max-width:200px;}#id_owner{max-width:300px;}#id_executor{max-width:300px;}#id_object{max-width:600px;}
        </style>
        {{form.as_p}}
        <button type="submit" class="btn btn-success w-20">Create task</button>
    </form>
</div>


{%endblock%}