{%extends 'dash.html'%}{%load static%}
{%block content%}



            <div class="row row-deck row-cards">
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Reservations</div>
                      <div class="ms-auto lh-1">
                        <div class="dropdown">
<!--                          <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true"-->
<!--                            aria-expanded="false">Last 7 days</a>-->
<!--                          <div class="dropdown-menu dropdown-menu-end">-->
<!--                            <a class="dropdown-item active" href="#">Last 7 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 30 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 3 months</a>-->
<!--                          </div>-->
                        </div>
                      </div>
                    </div>
                    <div class="h1 mb-3">{{all_orders}}</div>
                    <div class="d-flex mb-2">
                      <div>Conversion</div>
                      <div class="ms-auto">
                        <span class="text-green d-inline-flex align-items-center lh-1">
                          7%
                          <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 17l6 -6l4 4l8 -8" />
                            <path d="M14 7l7 0l0 7" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                        <span class="visually-hidden">75% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Total Tasks \ Active</div>
                      <div class="ms-auto lh-1">
                        <div class="dropdown">
<!--                          <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true"-->
<!--                            aria-expanded="false">Last 7 days</a>-->
<!--                          <div class="dropdown-menu dropdown-menu-end">-->
<!--                            <a class="dropdown-item active" href="#">Last 7 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 30 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 3 months</a>-->
<!--                          </div>-->
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-baseline">
                      <div class="h1 mb-0 me-2">{{all_tasks}} \ {{tasks_in_progress}}</div>
                      <div class="me-auto">
                        <span class="text-green d-inline-flex align-items-center lh-1">
                          8%
                          <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 17l6 -6l4 4l8 -8" />
                            <path d="M14 7l7 0l0 7" />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div id="chart-revenue-bg" class="chart-sm"></div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Total clients \ New</div>
                      <div class="ms-auto lh-1">
                        <div class="dropdown">
<!--                          <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true"-->
<!--                            aria-expanded="false">Last 7 days</a>-->
<!--                          <div class="dropdown-menu dropdown-menu-end">-->
<!--                            <a class="dropdown-item active" href="#">Last 7 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 30 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 3 months</a>-->
<!--                          </div>-->
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-baseline">
                      <div class="h1 mb-3 me-2">{{all_clients}} \ {{new_clients_today}}</div>
                      <div class="me-auto">
                        <span class="text-yellow d-inline-flex align-items-center lh-1">
                          0%
                          <!-- Download SVG icon from http://tabler-icons.io/i/minus -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div id="chart-new-clients" class="chart-sm"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Total objects</div>
                      <div class="ms-auto lh-1">
                        <div class="dropdown">
<!--                          <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true"-->
<!--                            aria-expanded="false">Last 7 days</a>-->
<!--                          <div class="dropdown-menu dropdown-menu-end">-->
<!--                            <a class="dropdown-item active" href="#">Last 7 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 30 days</a>-->
<!--                            <a class="dropdown-item" href="#">Last 3 months</a>-->
<!--                          </div>-->
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-baseline">
                      <div class="h1 mb-3 me-2">{{count_objects}}</div>
                      <div class="me-auto">
                        <span class="text-green d-inline-flex align-items-center lh-1">
                          4%
                          <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 17l6 -6l4 4l8 -8" />
                            <path d="M14 7l7 0l0 7" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div id="chart-active-users" class="chart-sm"></div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row row-cards">
                  <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="bg-primary text-white avatar"style="background:#7FE6A2!IMPORTANT;">
                              <img src="{%static 'assets/img/in_progress_order.svg'%}" alt="">
                            </span>
                          </div>
                          <div class="col">
                            <div class="font-weight-medium">
                              {{orders_in_progress}}
                            </div>
                            <div class="text-muted">
                              Reservations in progress
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="bg-green text-white avatar"style="background:#E6D268!IMPORTANT;">
                              <img src="{%static 'assets/img/raw_order.svg'%}" alt="">
                            </span>
                          </div>
                          <div class="col">
                            <div class="font-weight-medium">
                              {{raw_orders}}
                            </div>
                            <div class="text-muted">
                              Unprocessed applications
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="bg-twitter text-white avatar"style="background:#2B79D5!IMPORTANT;">
                              <img src="{%static 'assets/img/finish_order.svg'%}" alt="">
                            </span>
                          </div>
                          <div class="col">
                            <div class="font-weight-medium">
                              {{finish_orders}}
                            </div>
                            <div class="text-muted">
                             Successfully closing the application
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="bg-facebook text-white avatar"style="background:#E45F5F!IMPORTANT;">
                              <img src="{%static 'assets/img/closed_order.svg'%}" alt="">
                            </span>
                          </div>
                          <div class="col">
                            <div class="font-weight-medium">
                              {{closed_orders}}
                            </div>
                            <div class="text-muted">
                              Closed applications
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12 col-lg-6">
                <div class="card"style="height:57vh;">
                  <div class="card-header">
                    <h3 class="card-title">My active tasksи {{my_tasks_in_progress}}</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter">
                      {%for task in tasks%}
                      <tr>
                        <td class="w-1 pe-0">
                          <input type="checkbox" class="form-check-input m-0 align-middle" aria-label="Select task"
                            checked>
                        </td>
                        <td class="w-100">
                          <a href="{{task.get_absolute_url}}" class="text-reset">{{task.title}}</a>
                        </td>
                        <td class="text-nowrap text-muted">
                          <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                            <path d="M16 3l0 4" />
                            <path d="M8 3l0 4" />
                            <path d="M4 11l16 0" />
                            <path d="M11 15l1 0" />
                            <path d="M12 15l0 3" />
                          </svg>
                          {{task.date_created}}
                        </td>
<!--                        <td class="text-nowrap">-->
<!--                          <a href="#" class="text-muted">-->
<!--                            &lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/check &ndash;&gt;-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"-->
<!--                              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--                              stroke-linecap="round" stroke-linejoin="round">-->
<!--                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />-->
<!--                              <path d="M5 12l5 5l10 -10" />-->
<!--                            </svg>-->
<!--                            2/7-->
<!--                          </a>-->
<!--                        </td>-->
<!--                        <td class="text-nowrap">-->
<!--                          <a href="#" class="text-muted">-->
<!--                            &lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/message &ndash;&gt;-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"-->
<!--                              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--                              stroke-linecap="round" stroke-linejoin="round">-->
<!--                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />-->
<!--                              <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />-->
<!--                              <path d="M8 9l8 0" />-->
<!--                              <path d="M8 13l6 0" />-->
<!--                            </svg>-->
<!--                            3-->
<!--                          </a>-->
<!--                        </td>-->
                        <td>
                          <span class="avatar avatar-sm"
                            style="background-image: url({{task.executor.photo.url}})"></span>
                        </td>
                      </tr>
                      {%endfor%}
                    </table>
                  </div>
                  <div class="card-footer d-flex align-items-center">
                    <a href="{%url 'tasks'%}">All tasks: {{all_tasks}}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="card"style="height:57vh;">
                  <div class="card-header">
                    <h3 class="card-title">Active applications 2</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                              aria-label="Select all invoices"></th>
                          <th class="w-1">No.
                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24"
                              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                              stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M6 15l6 -6l6 6" />
                            </svg>
                          </th>
                          <th>Name</th>
                          <th>Telephone</th>
                          <th>Email</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {%for reservation in reservations%}
                          <tr>
                          <td><input class="form-check-input m-0 align-middle" type="checkbox"
                              aria-label="Select invoice"></td>
                          <td><span class="text-muted">{{reservation.id}}</span></td>
                          <td><a href="{{reservation.get_absolute_url}}" class="text-reset" tabindex="-1">{{reservation.guest_first_name}} {{reservation.guest_last_name}} {{reservation.guest_patronymic}}</a></td>
                          <td>
                            {{reservation.guest_phone}}
                          </td>
                          <td>
                            {{reservation.guest_email}}
                          </td>

                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport"
                                data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{{reservation.get_absolute_url}}">
                                  Info
                                </a>
                                <a class="dropdown-item" href="#">
                                  Delete
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                      {%endfor%}
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer d-flex align-items-center">
                    <a href="{%url 'reservations'%}">All applications: {{all_orders}}</a>
                  </div>
                </div>
              </div>
            </div>


{%endblock%}