{%extends 'dash.html'%}
{% block page_title %}
<div class="row g-2 align-items-center">
    <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
            Навигация
        </div>
        <h2 class="page-title">
            {{title_page}} {{count_title}}
            <a href="{%url 'add_object'%}" class="btn btn-success w-20">
                Добавить объект
            </a>
        </h2>
    </div>
</div>
{% endblock %}
{%block content%}


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hotel_search">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="input-icon mb-3">
                                                    <input type="text" value="" class="form-control"
                                                        placeholder="Search…">
                                                    <span class="input-icon-addon">
                                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                            height="24" viewBox="0 0 24 24" stroke-width="2"
                                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                                            <path d="M21 21l-6 -6"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-md-2"><select class="form-select">
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select></div>
                                            <div class="col-md-3">
                                                <select class="form-select">
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" name="example-text-input"
                                                    placeholder="Цена от">
                                            </div>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" name="example-text-input"
                                                    placeholder="Цена до">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="submit" class="btn btn-primary">Найти</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table
                                                class="table card-table table-vcenter text-nowrap datatable style_table">
                                                <thead>
                                                    <tr>
                                                        <th class="w-1"><input class="form-check-input m-0 align-middle"
                                                                type="checkbox" aria-label="Select all invoices">
                                                        </th>
                                                        <th class="w-1">No.
                                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="icon icon-sm icon-thick" width="24" height="24"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                                stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                                </path>
                                                                <path d="M6 15l6 -6l6 6"></path>
                                                            </svg>
                                                        </th>
                                                        <th>Название</th>
                                                        <th>Описание</th>
                                                        <th>Цена</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {%for object in objects%}
                                                        <tr>
                                                        <td><input class="form-check-input m-0 align-middle"
                                                                type="checkbox" aria-label="Select invoice"></td>
                                                        <td><span class="text-muted">{{object.id}}</span>
                                                        </td>
                                                        <td><a href="#" class="text-reset" tabindex="-1">
                                                                <img src="{{object.photo.url}}" alt="">{{object.name}}</a></td>
                                                        <td>

                                                           {{object.description}}

                                                        </td>
                                                        <td>
                                                            {{object.price}}

                                                        </td>


                                                        <td class="text-end">
                                                            <span class="dropdown">
                                                                <button class="btn dropdown-toggle align-text-top"
                                                                    data-bs-boundary="viewport"
                                                                    data-bs-toggle="dropdown">Actions</button>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">
                                                                        Action
                                                                    </a>
                                                                    <a class="dropdown-item" href="#">
                                                                        Another action
                                                                    </a>
                                                                </div>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {%endfor%}
<!--                                                    <tr>-->
<!--                                                        <td><input class="form-check-input m-0 align-middle"-->
<!--                                                                type="checkbox" aria-label="Select invoice"></td>-->
<!--                                                        <td><span class="text-muted">001401</span>-->
<!--                                                        </td>-->
<!--                                                        <td><a href="#" class="text-reset" tabindex="-1">-->
<!--                                                                <img src="assets/img/hotel.png" alt="">Design-->
<!--                                                                Works</a></td>-->
<!--                                                        <td>-->
<!--                                                            <span class="flag flag-country-us"></span>-->
<!--                                                            Carlson Limited-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            87956621-->
<!--                                                        </td>-->


<!--                                                        <td class="text-end">-->
<!--                                                            <span class="dropdown">-->
<!--                                                                <button class="btn dropdown-toggle align-text-top"-->
<!--                                                                    data-bs-boundary="viewport"-->
<!--                                                                    data-bs-toggle="dropdown">Actions</button>-->
<!--                                                                <div class="dropdown-menu dropdown-menu-end">-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Action-->
<!--                                                                    </a>-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Another action-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                            </span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->

<!--                                                    <tr>-->
<!--                                                        <td><input class="form-check-input m-0 align-middle"-->
<!--                                                                type="checkbox" aria-label="Select invoice"></td>-->
<!--                                                        <td><span class="text-muted">001402</span>-->
<!--                                                        </td>-->
<!--                                                        <td><a href="#" class="text-reset" tabindex="-1">-->
<!--                                                                <img src="assets/img/hotel.png" alt="">UX-->
<!--                                                                Wireframes</a></td>-->
<!--                                                        <td>-->
<!--                                                            <span class="flag flag-country-gb"></span>-->
<!--                                                            Adobe-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            87956421-->
<!--                                                        </td>-->


<!--                                                        <td class="text-end">-->
<!--                                                            <span class="dropdown">-->
<!--                                                                <button class="btn dropdown-toggle align-text-top"-->
<!--                                                                    data-bs-boundary="viewport"-->
<!--                                                                    data-bs-toggle="dropdown">Actions</button>-->
<!--                                                                <div class="dropdown-menu dropdown-menu-end">-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Action-->
<!--                                                                    </a>-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Another action-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                            </span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td><input class="form-check-input m-0 align-middle"-->
<!--                                                                type="checkbox" aria-label="Select invoice"></td>-->
<!--                                                        <td><span class="text-muted">001403</span>-->
<!--                                                        </td>-->
<!--                                                        <td><a href="#" class="text-reset" tabindex="-1">-->
<!--                                                                <img src="assets/img/hotel.png" alt="">New-->
<!--                                                                Dashboard</a></td>-->
<!--                                                        <td>-->
<!--                                                            <span class="flag flag-country-de"></span>-->
<!--                                                            Bluewolf-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            87952621-->
<!--                                                        </td>-->


<!--                                                        <td class="text-end">-->
<!--                                                            <span class="dropdown">-->
<!--                                                                <button class="btn dropdown-toggle align-text-top"-->
<!--                                                                    data-bs-boundary="viewport"-->
<!--                                                                    data-bs-toggle="dropdown">Actions</button>-->
<!--                                                                <div class="dropdown-menu dropdown-menu-end">-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Action-->
<!--                                                                    </a>-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Another action-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                            </span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td><input class="form-check-input m-0 align-middle"-->
<!--                                                                type="checkbox" aria-label="Select invoice"></td>-->
<!--                                                        <td><span class="text-muted">001404</span>-->
<!--                                                        </td>-->
<!--                                                        <td><a href="#" class="text-reset" tabindex="-1">-->
<!--                                                                <img src="assets/img/hotel.png" alt="">Landing-->
<!--                                                                Page</a></td>-->
<!--                                                        <td>-->
<!--                                                            <span class="flag flag-country-br"></span>-->
<!--                                                            Salesforce-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            87953421-->
<!--                                                        </td>-->


<!--                                                        <td class="text-end">-->
<!--                                                            <span class="dropdown">-->
<!--                                                                <button class="btn dropdown-toggle align-text-top"-->
<!--                                                                    data-bs-boundary="viewport"-->
<!--                                                                    data-bs-toggle="dropdown">Actions</button>-->
<!--                                                                <div class="dropdown-menu dropdown-menu-end">-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Action-->
<!--                                                                    </a>-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Another action-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                            </span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td><input class="form-check-input m-0 align-middle"-->
<!--                                                                type="checkbox" aria-label="Select invoice"></td>-->
<!--                                                        <td><span class="text-muted">001405</span>-->
<!--                                                        </td>-->
<!--                                                        <td><a href="#" class="text-reset" tabindex="-1">-->
<!--                                                                <img src="assets/img/hotel.png" alt="">Marketing-->
<!--                                                                Templates</a></td>-->
<!--                                                        <td>-->
<!--                                                            <span class="flag flag-country-pl"></span>-->
<!--                                                            Printic-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            87956621-->
<!--                                                        </td>-->


<!--                                                        <td class="text-end">-->
<!--                                                            <span class="dropdown">-->
<!--                                                                <button class="btn dropdown-toggle align-text-top"-->
<!--                                                                    data-bs-boundary="viewport"-->
<!--                                                                    data-bs-toggle="dropdown">Actions</button>-->
<!--                                                                <div class="dropdown-menu dropdown-menu-end">-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Action-->
<!--                                                                    </a>-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Another action-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                            </span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td><input class="form-check-input m-0 align-middle"-->
<!--                                                                type="checkbox" aria-label="Select invoice"></td>-->
<!--                                                        <td><span class="text-muted">001406</span>-->
<!--                                                        </td>-->
<!--                                                        <td><a href="#" class="text-reset" tabindex="-1">-->
<!--                                                                <img src="assets/img/hotel.png" alt="">Sales-->
<!--                                                                Presentation</a>-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            <span class="flag flag-country-br"></span>-->
<!--                                                            Tabdaq-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            87956621-->
<!--                                                        </td>-->


<!--                                                        <td class="text-end">-->
<!--                                                            <span class="dropdown">-->
<!--                                                                <button class="btn dropdown-toggle align-text-top"-->
<!--                                                                    data-bs-boundary="viewport"-->
<!--                                                                    data-bs-toggle="dropdown">Actions</button>-->
<!--                                                                <div class="dropdown-menu dropdown-menu-end">-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Action-->
<!--                                                                    </a>-->
<!--                                                                    <a class="dropdown-item" href="#">-->
<!--                                                                        Another action-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                            </span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer d-flex align-items-center">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






{%endblock%}