{%extends 'dash.html'%}

{%block page_title%}
<div class="row g-2 align-items-center">
    <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
            Навигация
        </div>
        <h2 class="page-title">
            Add object
            <a href="{%url 'objects'%}" class="btn btn-success w-20">
                Back
            </a>
        </h2>
    </div>
</div>

{%endblock%}

{%block content%}

<div class="add_objects_page">
    <h1>{{object.name_en}}</h1>
    <form id="object-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
            <p>
        <label>Фотографии:</label>
        <input type="file" multiple name="files[]">
    </p>
        <button type="submit" class="btn btn-success w-20">Add object</button>
    </form>
</div>


{%endblock%}