{%load static%}
{%include 'header.html'%}
{%include 'menu.html'%}

    <div class="content-layer">
      <div class="content page">
        <div class="title">
          <h2>ABOUT</h2>
        </div>
          <div class="page_content">
             <p>One of the main concerns of travelers is choosing the right place to stay. After all, it is obvious that a comfortable stay largely depends on where to settle for the holidays. We undertake the solution of this difficult task. Our company offers rental of villas, which should become your cozy home during your vacation.</p>
              <img src="{%static 'assets/img/aboutimg.png'%}" alt="">
              <p>
One of the main concerns of travelers is choosing the right place to stay. After all, it is obvious that a comfortable stay largely depends on where to settle for the holidays. We undertake the solution of this difficult task. Our company offers rental of villas, which should become your cozy home during your vacation. I Love Villa is a company officially registered in Moscow with representatives in Bali and Thailand. We provide all the necessary documents, providing you with a rental of real estate abroad, we make payments through the company's bank account.
              </p>
              <p>
Whether you're dreaming of a luxury villa on the Indian Ocean, escaping from prying eyes in a private villa in the heart of Indonesia, or immersing yourself in the culture of mysterious Turkey in a private mansion with an oriental flair, the only thing you need to do is decide your desire, and we will try to fulfill it.
              </p>
              <h2>WE HELP TO REALIZE DREAMS</h2>
              <p>Thanks to constant research and improvement, a store of practical information and communication with our guests, today we know and anticipate the preferences of our guests. You just need to write your wishes and outline the idea, and we will select a villa that meets your needs.</p>
              <p>If you are planning a vacation with small children, then we will offer a villa with a children's room equipped with all necessary accessories and a children's pool. If you are looking for the perfect place for a yoga tour, we will find a spacious villa in a secluded area with a large garden and comfortable terraces for practicing. If a wedding is to be held, then we will choose a villa of sufficient size with an exceptional view of the ocean. Our catalog includes villas and villa complexes, houses, bungalows, and even castles.</p>
              <p>Absolutely free, but with attention and responsibility, we will select the housing option that is right for you.</p>
          </div>
        </div>
      </div>
    </div>
{%include 'footer.html'%}
  </body>
</html>
