{%load static%}
{%include 'header.html'%}
{%include 'menu.html'%}
    <div class="top_image_layer"style="background: url({%static 'assets/img/goavillatopomage.png'%});">
      <img src="" alt="" />
            <div class="top_img_filter">
        <form action="">
          <div class="top_filter_params">
            <label class="top_filter_param" for="addressInput">
        <select id="city" name="city">
            <option value="" selected>All locations</option>
            {%for city in cities%}
            <option value="{{city.city.id}}">{{city.name_en}}</option>
            {%endfor%}
        </select>
            </label>
            <div class="spacer"></div>
            <label class="top_filter_param" for="dateInput"style="">
              <input value="2023-04-28" id="dateInput" type="date" />
              <img style="position: relative;right: 20px;" src="{%static 'assets/img/Calendar.png'%}" alt="" />
            </label>
            <div class="spacer"></div>
            <span class="top_filter_param">
              <select id="people" name="count_people">
                  <option value="0">Number of guests</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </span>
          </div>
          <button class="top_filter_search">Найти</button>
        </form>
      </div>
      <div class="top_image"></div>

    </div>

    <div class="content-layer">
      <div class="content">
        <div class="title">
          <h2>CATALOG</h2>
        </div>

        <div class="item_content">

          {%for object in top_season%}


           <div class="item_layer">
            <div class="item">
                  <a href="{% url 'hotel' object.id %}">
              <div class="item_slider"style="background: url('{{object.top_photo.url}}'); background-size: cover;">
                <div class="item_slider_layer">

                  <div class="item_info">
                    <h2>{{object.name_en}}</h2>
                  </div>

                </div>
                   </a>
              </div>
            </div>

            <div class="item_nav">
              <div class="item_info_content">
                <div class="item_info_small">
                  <img src="{%static 'assets/img/Bathtub.png'%}" alt="" />1
                </div>
                <div class="item_info_small">
                  <img src="{%static 'assets/img/Bed.png'%}" alt="" />1
                </div>
                <div class="item_info_small">
                  <img src="{%static 'assets/img/User Account.png'%}" alt="" />1
                </div>
              </div>
              <div class="price">
                 {{object.price_en}} $. \ day.
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

  <div style="margin: 0 auto;width: fit-content;color: #000000;text-decoration: none;margin: 60px auto 60px;padding: 35px 0px 60px 0px;"><a style="text-decoration: none;color:#000000;border: 1px solid #00000020;padding: 20px;" href="{%url 'catalog'%}">All catalog ></a></div>


{%include 'faq.html'%}
{%include 'footer.html'%}
  </body>
</html>
