{%load static%}
<header>
      <div class="nav_layer">
        <div class="nav">
          <div class="nav_items">
            <div class="logotype">
              <a href="{%url 'index'%}"><img src="{%static 'assets/img/goavilla.png'%}" alt="" /></a>
            </div>
          </div>
        <div class="navigation">
          <ul class="navigation_navigation">
            <li><a href="{%url 'index'%}">HOME</a></li>
<!--            <li><a href="">SERVICES</a></li>-->
            <li><a href="{%url 'catalog'%}">CATALOG</a></li>
            <li><a href="">ABOUT COMPANY</a></li>
            <li><a href="">CONTACTS</a></li>
          </ul>
        </div>
        </div>
      </div>
    </header>