      {%load static%}
        <div class="nav_">
          <a href="{%url 'reservations'%}">
            <img class="first" src="{%static 'assets/img/Submit Document.png'%}" alt="first">
            <img class="last" src="{%static 'assets/img/Submit Document (1).png'%}" alt="last">
          </a>
        </div>
        <div class="nav_">
          <a href="{%url 'tasks'%}">
            <img class="first" src="{%static 'assets/img/List Of Parts.png'%}" alt="first">
            <img class="last" src="{%static 'assets/img/List Of Parts (2).png'%}" alt="last"></a>
        </div>
        <div class="nav_"><a href="{%url 'objects'%}">
            <img class="first" src="{%static 'assets/img/Condo.png'%}" alt="">
            <img class="last" src="{%static 'assets/img/Condo (1).png'%}" alt=""></a>
        </div>